# Build directories
/bin
/obj
/Debug
/.vs

# Visual Studio specific files
*.dll
*.png
*.pdn
*.pdb
*.vsidx
*.lnk
*.bin
*.v2
*.suo
*.json

# User-specific files
*.user
*.sln.docstates
*.sln.ide
*.sln.vspscc

# Eclipse files
/EclipseMenu

# Other files
modmaker.bat
modmaker.py
/MoreBoplPlayers
/abilityplus
/!TOOLS

#otherx2
*.txt
*.bat
*.py
*.exe
*.xml
*.rsp
*.csproj

# Visual Studio Code settings
.vscode/
/ghost
